.api-desc {
	margin-top: 2em;
	margin-bottom: 2em;
}

.api-provided-by {
}

.api-ref {
	margin-left: 1em;
}

.api-text {
	margin-left: 3em;
}

@media print {
	.no-print, .no-print * {
		display: none !important;
	}
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 25px;
    line-height: 1.7;
    border-radius: 25px;
    margin: 5%;
}